# IDE
.vs/
.vscode/**
!.vscode/launch.json
!.vscode/tasks.json
.idea/

# Build Artifacts
/*/obj/
/*/bin/
/bin/
nupkg/
[Bb]uild/
/dist/

# munkipkg artifacts (ECUAD custom)
payload/**
!payload/.gitkeep
!payload/Applications/
!payload/Applications/.gitkeep
*.pkg

# BenchmarkDotNet Artifacts
BenchmarkDotNet.Artifacts/

# User Preferences
*.user

# MacOS Cache
*.DS_Store

# Nix environment
[Rr]esult
.data/
